

  <ul class="list-group">
      <li  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          (click)="checkItem(todoItem)"
          [ngClass]="{'todo-is-checked':todoItem.checked}"
          *ngFor="let todoItem of (todoList$ | async) | search : ['name'] : (searchTerm$ | async)"  >
        <div>
          <b>{{todoItem.name}}</b>
          <small> {{ todoItem.created | date:'medium' }}</small>
        </div>
        <button  class="btn btn-xs btn-default far fa-trash-alt" (click)="deleteItem(todoItem)">

        </button >

      </li>
    </ul>

